body{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgb(247, 167, 216);
}
header{
    display:flex;
    height:100px;
    padding-bottom: 10px;
    align-items: center;
}
img{
    width: 280px;
    height:400px;
}
p, h1{
    font-size: 5rem;
}
.cat{
    display:flex;
    gap: 250px;
    font-size: 2rem;
    height: 380px;
    align-items: center;
    margin-top: 100px;
}
.opt{
    display: flex;
    flex-direction: column;
}
.hort{
    flex-direction: row; 
}
.hort img{
    margin-right: 30px;
}
.winLose{
    margin-top: 50px;
    display: flex;
    background-color: rgb(249, 246, 248);
    height: 80px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgb(182, 16, 118);
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.heads:hover, .tails:hover{
    transform: scale(1.02);
    transition: all 0.2s;
}
.choiceText, .resultText{
    font-size: 40px;
}
button {
    background-color: rgba(0,0,0,0); 
    border: none;
}